# üíµ Descobrindo Padr√µes em Vendas

### üìå  Objetivo

Analisar um dataset de vendas reais para desvendar os fatores que impulsionam o desempenho ao longo do tempo, combinando an√°lise temporal avan√ßada, segmenta√ß√£o detalhada e automa√ß√£o, com o intuito de extrair insights acion√°veis e preparar uma base robusta para modelos preditivos de Machine Learning.

### ü§î Raz√£o

Escolhi este projeto como o √°pice da minha jornada em EDA porque vendas s√£o o cora√ß√£o de muitos neg√≥cios, e entender seus padr√µes √© um desafio real e universal. Quis ir al√©m do b√°sico, explorando como o tempo, os clientes e as condi√ß√µes afetam os resultados, e transformar dados brutos em uma hist√≥ria que n√£o s√≥ informe, mas tamb√©m inspire solu√ß√µes pr√°ticas e tecnol√≥gicas.

## 0. Configura√ß√£o Inicial

In [7]:
# Initial Setup
import pandas as pd  # Data manipulation and analysis
import numpy as np  # Numerical operations
import seaborn as sns  # Statistical visualizations
import matplotlib.pyplot as plt  # Basic plotting
import plotly.express as px  # Interactive, simple charts
import plotly.graph_objects as go  # Customized interactive visualizations

# Environment Configuration
sns.set_style("whitegrid")  # Set clean visual style for charts
plt.rcParams["figure.figsize"] = (10, 6)  # Default figure size for consistency

Para descobrir o que impulsiona, influencia e aumenta as vendas, escolhi ferramentas robustas para an√°lise, explora√ß√£o, tratamento e visualiza√ß√£o de dados, combinadas com insights estat√≠sticos de explora√ß√µes anteriores.

## 1. Carregando e Compreendendo os Dados

In [10]:
# Reading the Superstore Sales Dataset
df = pd.read_csv("superstoresales.csv")  # Load sales data from CSV file

In [11]:
# Gathering Basic Information
df.info()  # Display dataset structure and data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

A an√°lise inicial revelou a√ß√µes necess√°rias:

1. Eliminar a coluna `Row ID`, redundante com o √≠ndice do Pandas, para simplificar o dataset.
2. Predominam vari√°veis categ√≥ricas; apenas `Postal Code` e `Sales` s√£o num√©ricas, limitando estat√≠sticas aos valores de venda e exigindo transforma√ß√µes em outras colunas.
3. Identifiquei 11 valores nulos em `Postal Code`, o que demanda estrat√©gias espec√≠ficas de tratamento.

In [13]:
# Getting a grasp for how the data looks like
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [14]:
df.describe()

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

## 2. Limpeza e Prepara√ß√£o dos Dados

## 3. Feature Engineering Temporal e Segmentada

## 4. An√°lise Temporal Explorat√≥ria

## 5. Segmenta√ß√£o e An√°lise de Subgrupos

## 6. An√°lise Bivariada e Multivariada

## 7. Pipeline de Automa√ß√£o

## 8. Insights

## 9. Integra√ß√£o com Machine Learning/Deep Learning

## 10. Conclus√£o e Apresenta√ß√£o Final